/* line 2, ../sass/main3.scss */
.main3 {
  background-color: #f2f5f7;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 110px;
}
/* line 8, ../sass/main3.scss */
.main3 header {
  display: inline-block;
  position: relative;
  left: 55px;
}
/* line 13, ../sass/main3.scss */
.main3 header h2 {
  display: block;
  text-align: center;
  font-size: 44px;
  color: #5a728c;
  font-weight: bold;
  margin: 125px 220px 40px 220px;
}
/* line 22, ../sass/main3.scss */
.main3 header p {
  display: block;
  text-align: center;
  color: #73879c;
  font-size: 22px;
  margin: 0 245px 80px 245px;
}
/* line 30, ../sass/main3.scss */
.main3 .latest_work {
  display: block;
  text-align: center;
}
/* line 33, ../sass/main3.scss */
.main3 .latest_work figure {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
}
/* line 37, ../sass/main3.scss */
.main3 .latest_work figure img {
  width: 392px;
  height: 270px;
}
/* line 43, ../sass/main3.scss */
.main3 .latest_work figure figcaption p {
  color: #5a728c;
}
/* line 46, ../sass/main3.scss */
.main3 .latest_work figure figcaption h6 {
  color: #5a728c;
  font-weight: normal;
}
/* line 56, ../sass/main3.scss */
.main3 .latest_slides {
  display: block;
  text-align: center;
}
/* line 59, ../sass/main3.scss */
.main3 .latest_slides ul li {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  left: -20px;
}
/* line 65, ../sass/main3.scss */
.main3 .latest_slides ul li img {
  width: 190px;
  height: 135px;
}
/* line 71, ../sass/main3.scss */
.main3 .control {
  list-style: none;
  margin: 0;
  text-align: center;
  position: relative;
  left: 45%;
}
/* line 77, ../sass/main3.scss */
.main3 .control li {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  float: left;
  margin-right: 10px;
  transition-duration: .2s;
}

/* line 93, ../sass/main3.scss */
.circle1 {
  background: #506a85;
}

/* line 97, ../sass/main3.scss */
.circle2 {
  background: #00bc9c;
}

/* line 101, ../sass/main3.scss */
.circle3 {
  background: #506a85;
}

/* line 105, ../sass/main3.scss */
.control li:hover {
  height: 20px;
  width: 20px;
}
