

#wrapper{
    
    background-color: #fff;
	text-align: left;
	margin: 0 auto;
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
	max-width: 100%;

}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
li{
	list-style: none;
}
a:link, a:visited{

}
a:hover, a:active{

}